header {
	width: 100%;
	background-image: url(img/services.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #e5e5e5;
}

.navbar-toggler {
	background-image: url(img/menu.png);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}

.navbar {
	background: transparent;
}

.navbar-nav a {
	font-family: OpenSans, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #747480;
	float: right;
}

li a:hover {
	color: #ffffff;
	background-color: #7beec7;
}

h1 {
  font-size: 36px;
  font-family: Montserrat, sans-serif;
  color: rgb(96, 96, 110);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
}

.hero a, .hero p {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  color: rgb(96, 96, 110);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3.429;
  text-decoration: none;
  text-align: center;
}

.hero a:hover {
	color: #7beec7;
}

h2 {
  font-size: 30px;
  font-family: Montserrat, sans-serif;
  color: rgb(96, 96, 110);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: left;
  background-image: url(img/Shape4png.png);
  background-repeat: no-repeat;
  background-position: 0% 85%;
}

.posts .card {
	border: none;
	border-radius: 0;
	background: transparent;
	max-width: 755px;
}

.posts h5 {
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  color: rgb(96, 96, 110);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.posts h6, h6 {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  color: rgb(204, 204, 204);
  text-transform: uppercase;
  text-align: left;
  background-color: transparent;  
}

.posts p {
  font-size: 14px;
  font-family: OpenSans, sans-serif;
  color: rgb(153, 153, 153);
  text-align: left;
  max-width: 720px;
}

.posts span {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  background-color: #7beec7;
  max-width: 190px;
}

.fa-heart {
	color: #ea6a6a;
	padding: 0 5px 0 15px;
}

.fa-comment-dots {
	padding: 0 5px 0 20px;
}

.fas:hover {
	color: #7beec7;
}

.posts .card-link {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  color: rgb(96, 96, 110);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
} 

.posts .card-link:hover {
	color: #7beec7;
}

.posts img {
	box-sizing: border-box;
	max-width: 100%;
}

.sidecolumn input {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  color: rgba(96, 96, 110, 0.502);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  background-color: #ececec;
  border-radius: 0;
  border: none;
}

.sidecolumn input:focus {
	box-shadow: none;
	background-color: #ececec;
}

.sidecolumn form {
  max-width: 262px;	
  background-color: #ececec;
}

.fa-search {
	color: rgba(96, 96, 110, 0.502);
	padding-right: 15px;
	font-size: 14px;
}

.search-posts h6, .sidecolumn-list h6, .sidecolumn-tags h6 {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  color: rgb(96, 96, 110);
  font-weight: bold;
  text-transform: uppercase;
}

.search-posts h5 {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  color: rgb(96, 96, 110);
  font-weight: bold;
  text-transform: uppercase;
  word-spacing: 20px;
}

.search-posts span {
  color: rgb(153, 153, 153);
  font-weight: bold;
}

.progress-bar {
  background-color: #7beec7;
}

.search-posts .card {
  border: none;
  border-radius: 0;
  max-width: 270px;
}

.search-posts .card-img {
  border-radius: 0;
  max-width: 85px;
}

.search-posts p {
  font-size: 12px;
  font-family: OpenSans, sans-serif;
  color: rgb(154, 154, 154);
  text-align: left;
}

.sidecolumn-list .list-group-item, select {
  font-size: 14px;
  font-family: OpenSans, sans-serif;
  color: rgb(96, 96, 110);
  line-height: 3.429;
  text-align: left;
}

.sidecolumn-list .list-group-item:hover {
  color: #7beec7;
}

.sidecolumn-list span {
  text-align: right;
}

.sidecolumn-tags {
  max-width: 265px;
}

.sidecolumn-tags button {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  color: rgb(153, 153, 153);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #e5e5e5;
  border-radius: 0;
}

.sidecolumn-tags button:hover {
  color: #ffffff;  
  background-color: #7beec7; 
}

.sidecolumn-tags button:focus {
  box-shadow: none;
  color: #ffffff;  
  background-color: #7beec7; 
}

.select-md-screen select {
  border: 1px solid rgb(96, 96, 110);
  border-radius: 0;
  display: none;
}

.contact {
	background-color: #7beec7;
	width: 100%;
}

.contact .card {
	background: transparent;
	border: none;
}

.contact h2 {
	background: none;
}

.card-1 h2 {
	color: #ffffff;
}

.card-1 .btn {
	background-color: #ffffff;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    color: rgb(123, 238, 199);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    border-radius: 0;
}

.card-2 {
	border-radius: 0;
}

.card-2 p {
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.5;
  text-align: left;
}

.card-2 input {
	border-radius: 0;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  color: rgb(205, 205, 205);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  height: 40.8px;
}

.card-2 .btn {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  background-color: #7beec7;
  border-radius: 0;
  box-sizing: border-box;
  border: none;
}

.paternity, footer .nav-link {
  font-size: 14px;
  font-family: OpenSans, sans-serif;
  color: rgb(154, 154, 154);
  text-transform: uppercase;
}

footer .nav-link {
	padding: 0 15px 0 0;
}

footer .nav-link:hover {
	color: #7beec7;
}

footer nav a::after {
	content: "-";
	color: #747480;
	padding-left: 15px;
}

footer nav a:last-child::after {
	content: none;
}

.fab {
	color: #989898;
	padding-left: 10px;
}

.fab:hover {
	color: #7beec7;
}

@media (max-width: 1200px) {
  .posts .card {
  max-width: 600px;
}
}

@media (max-width: 992px) {
  .posts .card {
  max-width: 800px;
}

.search-posts {
  display: none;
}

.select-md-screen select {
  display: block;
}

.sidecolumn-list {
  display: none;
}
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-toggler {
    display: flex;	
}

.navbar-collapse {
	display: flex;
}
}


@media (max-width: 768px) {
	footer .nav-link {
	padding: 0 5px 0 0;
    }

    footer nav a::after {
	padding-left: 5px;
    }
}

@media (max-width: 576px) {
    footer nav a::after {
	content: "";
    }

    .form-inline .form-control {
    width: auto;
}
}

